<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code breaker</title>
</head>
<body>
    <h2 id="mensaje_id"><%= @mensaje_view%></h2>
    <form action="/jugar" method="post">
        <input type="submit" value="Iniciar juego"/>
    </form>
</body>
</html>